<h1 id = "name"> Sally Tran</h1>
<%= image_tag("IMG_2689.jpg", size: "500x500", alt: "pic")%>
<p id = "where"> San Jose </p>
<p> I am a Junior. </p>
<p id = "funfact"> I can blow bubbles off my tongue. </p>
<p id = "excited"> I am exicted to build my own snazzy website/portfolio! </p>